*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  --webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.gameboard {
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-right: 1px solid rgb(133, 133, 133);
  border-bottom: 1px solid rgb(133, 133, 133);
}

.cell:nth-child(1) {
  border-left: 1px solid rgb(133, 133, 133);
}

.row:first-child > .cell {
  border-top: 1px solid rgb(133, 133, 133);
}

.ship {
  position: absolute;
  cursor: grab;
}
