*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  --webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-color: rgb(0, 87, 248);
}

h1 {
  margin-top: 100px;
}

button {
  cursor: pointer;
}

.game-setup-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-setup-view > button {
  margin-top: 30px;
  font-size: 24px;
  background-color: yellow;
  border: none;
  border-radius: 15px;
  width: 80px;
}

.game-setup-view > button:hover {
  background-color: rgb(202, 202, 4);
}

.two-player-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-player-game > .gameboards-container {
  display: flex;
  gap: 80px;
}

.pass-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  margin-top: 40px;
  position: relative;
  background-color: white;
  width: fit-content;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  cursor: var(--cell-cursor);
  height: var(--cell-size);
  width: var(--cell-size);
  border-right: 1px solid rgb(133, 133, 133);
  border-bottom: 1px solid rgb(133, 133, 133);
}

.cell:nth-child(1) {
  border-left: 1px solid rgb(133, 133, 133);
}

.row:first-child > .cell {
  border-top: 1px solid rgb(133, 133, 133);
}

.ship {
  position: absolute;
}
